body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TOP NAVBAR */

header{
    z-index: 1;
    position: fixed;
    background: #aa6023;
    padding-bottom: 17px;
    padding-left:50px;
    width: calc(100% - 0%);
    top: 0;
}

.left-area .img-brand-logo{
    max-height: 38px;
    margin: 0;
    padding: 0;
    margin-top: -3px;
}

.right-area{
    float: right;
    margin-top: -35px;
}

.right-area .class-right{
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.logout-btn{
    padding: 5px 15px;
    border: 1px solid #fff;
    text-decoration: none;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff; 
}

.right-area a:hover{
    background: #fff;
    color: #333;
    border-radius: 2px;
    transition: 0.5s; 
}

/* SIDEBAR */

.sidebar{
    z-index: 1;
    top: 0;
    background: white;
    margin-top: 76px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    overflow-y: auto;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile-info .profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile-info h5{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
}

.sidebar a:hover, .selected{
    background: #ebebeb;
    text-decoration: none;
    color: #aa6023;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 14px;
    top: 10px;
}

label #sidebar_btn:hover{
    color: #212529;
}

#check:checked ~ .sidebar{
    left: -185px;
}

#check:checked ~ .sidebar a span, #check:checked ~ .sidebar .profile-info{
    display: none;
    transition: 0.5;
}

#check:checked ~ .sidebar i{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
#check:checked ~ .content .accordion{
    width: calc(100% - 65px);
    transition: 0.5s;
}

#check, .mobile-nav{
    display: none;
}

/* CONTENT */

.content{
    width: (100% - 250px);
    padding: 20px;
    padding-top: 100px;
    margin-left: 250px;
    /*background: url("../images/2.jpg") no-repeat;*/
    background-color: #ebebeb;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    transition: 0.5s;
}



/*POPUP ADD SHOEMAKER*/
.bgoverlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.popup{
    background-color: white;
    width: 40%;
    min-width: 430px;
    height: 580px;
    position: absolute;
    margin: auto;
    z-index: 3;
    left: 32%;
    top: 12%;
    display: none;
}

.popup-scrollable{
    background-color: white;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
}

.popup-scrollable::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.popup-scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #212529;
}

.bi-x{
    right: 10px;
    top: 5px;
    font-size: 30px;
    position: sticky;
    top: 0;
    float: right;
    cursor: pointer;
}

/* .addshoemaker{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #212529;    
}

.addshoemaker a{
    text-align: center;
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
    margin: auto;
} */

.popup .profile-picture{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.popup .profile-picture img{
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    margin: 20px;
    filter: invert(.87);
}

.popup .popup-form{
    display:block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.popup .popup-form h5{
    text-align: center;
    margin-top: 20px;
}

input[type=text]{
    border: none;
    width: 80%;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    margin-bottom: 20px;
    margin-left: 10%;
}

#houseno, #postalcode{
    width: 20%;

}

#streetname{
    width: 55%;
    margin: 0;
    margin-left: 20px;   
}

#popup_viewSM .popup-form table{
    margin-left: 10%;
    margin-top: 0;
    width: 90%;
    text-align: left;
}

#popup_viewSM .popup-form .shoemakers_view th, #popup_viewSM .popup-form .shoemakers_view td{
    text-align: left;
}

#popup_viewSM .popup-form{
    width: 100%;
}

.popup-content .firstrow{
    display: flex;
    width: 100%;
}

.popup-content .firstrow #display_image{
    width: 50%;
    height: 200px;
}

.popup-content .firstrow .input-fields{
    margin-top: 50px;
    width: 35%;
}

/*CONTENT*/
.top-level{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px 20px;
}

.top-title h1{
    font-weight: bold;
}

.top-buttons{
    display: block;
}

.top-buttons .buttonss{
    width: 120px;
    margin: 5px;
    padding: 5px;
    font-size: 13px;
    border-radius: 25px;
    background-color: #aa6023;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 50px;
    display: table;
}

th, td{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.admin-tblHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #aa6023;
    text-align: center;
}

.admin-image{
    height: 60px;
    width: 100px;
    object-fit: cover;
    box-sizing: border-box;
    margin:auto;
    display:block;
    
}

.button-actions{
    width: 100px;
    padding: 5px;
    font-size: 13px;
    border-radius: 25px;
    background-color: #aa6023;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    position:relative;
    margin:auto;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

p{
    text-align: center;  
}

/*BANNER*/
.banner-add{
    margin-top: 15px;
}

/*PRODUCTS*/


/*REPORTS CONTENT*/
#reports_page{
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    
}

.reports-users{
    display:flex;
    justify-content: center;
    align-items: center;
}

#bar-chart {
    width: 100%;
    height: 300px;
    position: relative;
}
  
  #line-chart {
    width: 100%;
    height: 300px;
    position: relative;
  }
  
  #pie-chart {
    width: 500px;
    height: 250px;
    position: relative;
    display: inline-flex;
  }
  #pie-chart::before {
    content: "";
    position: absolute;
    display: block;
    width: 180px;
    height: 115px;
    left: 315px;
    top: 0;
    background: #FAFAFA;
    box-shadow: 1px 1px 0 0 #DDD;
  }
  
  #pie-chart::after {
    content: "";
    position: absolute;
    display: block;
    top: 260px;
    left: 70px;
    width: 170px;
    height: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
    
  }

  .graph-title{
      text-align: center;
      margin: 20px;
  }

  /*REPORTS OPTIONS*/
  .accordion {
    display: table;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .accordion > input {
    display: none;
  }

  .accordion_item {
    cursor: pointer;
    display: table-cell;
    width: 150px;
    transition: .25s ease;
  }

  .accordion_item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

  .accordion .accordion_item:hover + .accordion_item p, .accordion > input:checked + .accordion_item p {
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
  }

  /* MOBILE NAV */
@media screen and (max-width: 780px){
    .sidebar, #sidebar_btn{
        display: none;
    }

    .content{
        margin-left: 0px;
        margin-top: 0;
        transition: 0s;
    }

    .accordion {
        width: 100%;
        margin-left: 0px;
      }

    #check:checked ~ .content{
        margin-left: 0;
    }

    .mobile-nav{
        display: block;
        width: 100%;
    }

    .nav-bar{
        background: white;
        width: 100%;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-bar .mobile-profile-picture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav-bar .nav-btn{
        color: #333;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
    }

    .nav-bar .nav-btn:hover{
        color: #aa6023;
    }

    .mobile-nav-items{
        background: #333;
        display: none;
    }

    .mobile-nav-items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
    }

    .mobile-nav-items a:hover{
        background: #ebebeb;
        color: #333;
    }

    .selected ~ .mobile-nav-items a{
        color: #333;
    }

    .mobile-nav-items i{
        padding-right: 10px;
    }

    .active{
        display: block;
    }
    
}

/*POPUP*/
.product-img{
    display: flex;
}

#display_image{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 10px 10px 30px;   
}
  
#display_image:hover, #display_image:hover ~ #display_image span{
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    color: white;
}

#display_image1{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 10px 10px 30px;   
}
  
#display_image1:hover, #display_image1:hover ~ #display_image1 span{
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    color: white;
}


#display_image2{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 10px 10px 30px;   
}
  
#display_image2:hover, #display_image2:hover ~ #display_image2 span{
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    color: white;
}


#display_image3{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 10px 10px 30px;   
}
  
#display_image3:hover, #display_image3:hover ~ #display_image3 span{
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    color: white;
}


#display_image4{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    box-sizing: border-box;
    margin: 50px 10px 10px 30px;   
}
  
#display_image4:hover, #display_image4:hover ~ #display_image4 span{
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
    color: white;
}

input[type="file"], input[type="radio"]{
    display: none;
}

.add-image{
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.add-image:hover{
    color: white;
}

.bi-plus-circle-dotted{
    text-align: center;
    margin-top: 40px;
}

#display_image span{
    font-size: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
}    

.popup .popup-content {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.addbanner, .editbanner{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #212529;    
}

.addbanner a, .editbanner a{
    text-align: center;
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
    margin: auto;
}

.popup-content .fields { 
    width: 100%;
    padding-left: 10px;
    border: 1px solid #212529;
    border-radius: 25px;
    outline: none;
    margin: 10px 0px 0px 20px;
}

.fields-desc { 
    width: 100%;
    height: 100px;
    padding-left: 10px;
    border: 1px solid #212529;
    border-radius: 15px;
    outline: none;
    margin: 10px 0px 0px 20px;
}

.banner-buttonAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    table-layout: fixed;
}

.add-actions{
    width: 100%;
}

.banner-button-options{
    display: block;
    width: 100px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    padding: 3px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.banner-buttonAdd .col1{
    width: 20vw;
    padding:0;
    margin: 0;
    margin-right: 10px;
}

.banner-buttonAdd .col2{
    width: 10vw;
    padding:0;
    margin: 0;
    margin-right: 10px;
}

.banner-buttonAdd .col1, .banner-buttonAdd .col2{
    padding-top: 10px;
    overflow: hidden;
}


button#adminlogout  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}