body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TOP NAVBAR */

.navbar-color{
    background-color: #212529;
    transition: 0.5s;
}

.img-brand-logo {
    max-height: 38px;
    color: #000;
}

.d-flex{
    margin-top: -10px;
}

.search-container{
    margin-top: 10px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    border: none;
    background: rgba(65, 64, 64, 0.664);
    border: 1px solid white;
    border-radius: 50px;
    outline: none;
    text-indent: 2mm;
    width:500px;
}

.d-flex .search-btn{
    color: white;
    font-size: 12px;
    margin-top: 9px;
    padding: 3px 6px 3px 6px;
}

.d-flex .search-btn:hover{
    color: #212529;
    background-color: white;
    border-radius: 25%;
    font-size: 12px;
}

.navbar-nav li{
    font-size: 13px;
}

/* SIDEBAR */

.sidebar{
    z-index: 1;
    top: 0;
    background: white;
    margin-top: 76px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    overflow-y: auto;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar hr{
    width: 90%;
    margin: auto;
    height: 1.5px;
    color: #212529;
    margin: 20px 0px 20px 0px;
}

.sidebar .profile-info .profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile-info h5{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

.sidebar a{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
}

.sidebar a:hover, .selected{
    background: #ebebeb;
    text-decoration: none;
    color: #aa6023;
}

.sidebar i{
    padding-right: 10px;
}

.sidebar #sidebar_btn{
    z-index: 1;
    color: #333;
    position: fixed;
    cursor: pointer;
    left: 220px;
    font-size: 15px;
    margin-top: -50px;
    transition: 0.5s;
}

label #sidebar_btn:hover{
    color: #aa6023;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span, #check:checked ~ .sidebar .profile-info{
    display: none;
    transition: 0.5;
}

#check:checked ~ .sidebar a i{
    font-size: 20px;
    margin-left: 170px;
    width: 100%;
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check:checked ~ .sidebar #sidebar_btn{
    z-index: 1;
    color: #aa6023;
    position: fixed;
    cursor: pointer;
    left: 25px;
    font-size: 15px;
    margin-top: -50px;
    transition: 0.5s;
}

#check, .mobile-nav{
    display: none;
}

/* CONTENT */

.content{
    width: (100% - 250px);
    padding: 20px;
    padding-top: 100px;
    margin-left: 250px;
    /*background: url("../images/2.jpg") no-repeat;*/
    background-color: #ebebeb;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

/*CONTENT*/
.top-title h1{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
    font-weight: bold;
}

.top-buttons{
    display: block;
}

.top-buttons .buttonss{
    width: 120px;
    padding: 5px;
    font-size: 13px;
    border-radius: 25px;
    background-color: #aa6023;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 50px;
    display: table;
}

th, td{
    display: table-cell;
    vertical-align: middle;
    
}

.admin-tblHeader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #aa6023;
    text-align: center;
}

.admin-image{
    height: 60px;
    width: 100px;
    object-fit: cover;
    box-sizing: border-box;
    margin:auto;
    display:block;
    
}

.button-actions{
    width: 100px;
    padding: 5px;
    font-size: 13px;
    border-radius: 25px;
    background-color: #aa6023;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    position:relative;
    margin:auto;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

p{
    text-align: center;  
}

/* MOBILE NAV */
@media screen and (max-width: 780px){
    .sidebar, #sidebar_btn{
        display: none;
    }

    .content{
        margin-left: 0;
        margin-top: 0;
        transition: 0s;
    }

    #check:checked ~ .content{
        margin-left: 0;
    }

    .mobile-nav{
        display: block;
        width: 100%;
    }

    .nav-bar{
        background: white;
        width: 100%;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-bar .mobile-profile-picture{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav-bar .nav-btn{
        color: #333;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
        margin-top: -10px;
    }

    .nav-bar .nav-btn:hover{
        color: #aa6023;
    }

    .mobile-nav-items{
        background: #333;
        display: none;
    }

    .mobile-nav-items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
    }

    .mobile-nav-items a:hover{
        background: #ebebeb;
        color: #333;
    }

    .selected ~ .mobile-nav-items a{
        color: #333;
    }

    .mobile-nav-items i{
        padding-right: 10px;
    }

    .active{
        display: block;
    }
    
}

/*PROFILE*/
.level1-contents{
    margin-top: 50px;
}

.accordion {
    display: table;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .accordion > input {
    display: none;
  }

  .accordion_item {
    cursor: pointer;
    display: table-cell;
    width: 150px;
    transition: .25s ease;
    text-align: center;
    height: 120px;
  }

  .accordion_item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #212529;
}

.accordion_item i{
    font-size: 25px;
}

.accordion > input:checked + .accordion_item i{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    color: #aa6023;
}

.accordion > input:checked + .accordion_item p {
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    color: #aa6023;
}

button#custlogout  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



/* FOR CUSTOMER CHANGE PASSWORD CONTENT STYLE */

.cP-container{
    margin: 0;
    padding: 50px 20px;
    justify-content: left;
    align-items: left;
}

.cP-details label{
    font-weight: bolder;
    margin-left: 70px;
}

.cP-details input{
    width: 200%;
    border-radius: 50px;
    margin-left: 50px;
    padding-left: 15px;
}

.cP-details input#nPass{
    margin-left: 85px;
    width: 177%;
}

.cP-content{
    width: 50%;
    padding-top: 60px;
}

.cP-details{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.cP-details .cust-btn{
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 10px 15px;
    margin: 0px 70px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
    width: 120px;
}

/* END OF  CUSTOMER CHANGE PASSWORD CONTENT STYLE */


/* FOR CUSTOMER ADDRESS CONTENT STYLE */

[class*="cust-column-"]{
    float: left;
    padding: 2px;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px){
    .column-6{
        width: 25%;
        display: flex;
    }
    .column-7{
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .column-8{
        width: 25%;
        display: flex;
        justify-content: right;
        align-items: right;
    }
}

.add-container{
    margin: 0;
    padding: 50px 50px;
    justify-content: left;
    align-items: left;
}

.add-details label{
    font-weight: bolder;
    margin-top: 16px;
    margin-bottom: 16px;
}

.add-details input{
    width: 180px;
    border-radius: 50px;
    padding-left: 15px;
    margin-top: 8px;
    margin-bottom: 14px;
}

.add-content{
    width: 80%;
    padding-top: 20px;
}

.add-value{
    margin-top: 18px;
    margin-bottom: 30px;
}

.add-details .cust-btn{
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
    width: 120px;
    margin-bottom: 10px;
}

.add-details .ad-code{
    width: 70px;
    height: 28px;
    border-radius: 50px;
    color: black;
}

.add-details .ad-name{
    margin-top: 38px;
}

.add-details #ad-num{
    width: 118px;
}

.add-details .ad-add{
    width: 125px;
    height: 28px;
    border-radius: 50px;
    color: black;
}

.add-details #ad-address{
    width: 118px;
}

.add{   
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
    width: 120px;
    margin-top: 100px;
}

/* END OF CUSTOMER ADDRESS CONTENT STYLE */


/* FOR CUSTOMER PROFILE CONTENT STYLE */

*{
    box-sizing: border-box;
}

.cust-column{
    float: left;
    padding: 50px 20px;
    height: 100%;
}

.left{
    width: 70%;
}

.right{
    width: 30%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.cust-header{
    font-weight: bolder;
    padding: 0px 20px;
}

.cust-content{
    width: 50%;
    margin-left: 15%;
    padding-top: 20px;
}

.cust-details{
    display: flex;
    flex-direction: row;
}

.cust-details > div{
    width: 500px;
    padding-top: 10px;
    margin: 0;
}

.cust-details label{
    font-weight: bolder;
}

.cust-details input{
    width: 150%;
    border-radius: 50px;
    padding-left: 15px;
}

.cust-details #image{
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 10px 20px;
    width: 700%;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
}


.cust-details .code{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    color: black;
}



.cust-details .birthday{
    width: 88px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
}

.cust-details option.birthday {
    color: black;
}

#myDate input{
    width: 70%;
    border-radius: 50px;
    padding-left: 15px;
}

.cust-details .cust-upload {
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 10px 20px;
    margin-top: 80px;
    margin-right: 150px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
    width: 120px;
}

.cust-details .cust-btn{
    background-color: transparent;
    border-color: #000;
    color: black;
    padding: 10px 15px;
    margin-top: 250px;
    margin-left: 38px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.090em;
    width: 120px;
}

/* END OF CUSTOMER PROFILE CONTENT STYLE */