body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*TOP NAVBAR */

nav{
    display: flex;
}

.navbar-color{
    background-color: #212529;
    transition: 0.5s;
}

.img-brand-logo {
    max-height: 38px;
    color: #000;
}

.d-flex{
    margin-top: -10px;
}

.search-container{
    margin-top: 10px;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    border: none;
    background: rgba(65, 64, 64, 0.664);
    border: 1px solid white;
    border-radius: 50px;
    outline: none;
    text-indent: 2mm;
    width:500px;
}

.d-flex .search-btn{
    color: white;
    font-size: 12px;
    margin-top: 9px;
    padding: 3px 6px 3px 6px;
}

.d-flex .search-btn:hover{
    color: #212529;
    background-color: white;
    border-radius: 25%;
    font-size: 12px;
}

.navbar-nav li{
    font-size: 13px;
}

/*CART DROPDOWN*/


.cart-dropdown {
    display: none;
    transform: translateX(-96%);
	position: absolute;
    z-index: 5000;
    margin-top: 6px;
	max-width: 30em;
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 1.25em;
	border-radius: 5px;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.cart-dropdown:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 20px 19px;
    border-color: transparent transparent  #ffffff transparent;
    top: -8px;
    right: 0;
    margin-left: -9.5px;
}

.cart-dropdown h6{
    color:rgba(65, 64, 64, 0.664);
    font-size: 13px;
}

.cart-dropdown table{
    margin-bottom: 10px;
}

.cart-dropdown td{
    padding: 5px;
}

.cart-image{
    height: 40px;
    width: 60px;
    object-fit: cover;
    box-sizing: border-box;
}

.cart-col2{
    padding: 0;
    margin: 0;
}

.cart-shoename, .cart-price{
    font-weight: bold;
}

.cart-shoemaker{
    font-size: 12px;
    color:rgba(65, 64, 64, 0.664);
    font-weight: bold;
}

.cart-price{
    color: #aa6023;
}

.cart-dropdown .cart-fullcart{
    width: 120px;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 25px;
    background-color: #aa6023;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.cart-dropdown .cart-fullcart:hover{
    background: #212529;
    color: white;
}

/* SIDEBAR */

.sidebar{
    z-index: 1;
    top: 0;
    background: white;
    margin-top: 76px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    transition: 0.5s;
    overflow-y: auto;
}

.sidebar-title{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.sidebar-choices{
    margin-top: -5px;;
}

.sidebar-choices a{
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.sidebar-choices a:hover, .selected{
    color: #aa6023;
    margin-left: 5px;
    transition: all .4s;
}

.sidebar i{
    padding-right: 10px;
}

/* CONTENT */

.content{
    min-height: 100vh;
    min-width: (100% - 200px);
    padding-left: 70px;
    padding-top: 70px;
    margin-left: 200px;
    background-color: #ebebeb;
    transition: 0.5s;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: 430px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    margin: 20px;
    flex: 0 0 auto;
}

.card .product-image{
    height: 300px;
    position: relative;
}

.card .product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.product-overlay{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #aa602380;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.card .product-image:hover .product-overlay{
    visibility: visible;
    animation: fade 0.4s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.view-product-details{
    border: 2px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff; 
    margin: 20px 20px 20px 20px;
}

.view-product-details:hover{
    background: #fff;
    color: #212529; 
}

.card .card-content{
    width: 100%;
    display: absolute;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-content .shoe-name{
    font-weight: bold;
    margin: 0;
}

.card-content .shoe-maker{
    font-size: 12px;
    color: gray;
    margin: 0;
}

.card-content .shoe-price{
    font-weight: bold;
    color: #aa6023;
    margin-bottom: 8px;
}

input[type="radio"]{
    -webkit-appearance: none;
}

.sizes label{
    border: 2px solid;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    font-size: 13px;
}

input[type="radio"]:checked + label, input[type="radio"]:hover + label{
    color: #aa6023;
}

/* SIDEBAR SMOL SCREEN */
@media screen and (max-width: 850px){
    .sidebar{
        left: -150px;
    }
    
    .sidebar-title span, .sidebar-choices a{
        display: none;
        transition: 0.5;
    }
    
    .sidebar-title i{
        font-size: 20px;
        margin-left: 170px;
        width: 100%;
        transition: 0.5s;
    }

    .sidebar-title i:hover{
        color: #aa6023;
    }
    
    .content{
        margin-left: 60px;
    }

    .content #content_page_category {
        margin-left: 30px;
    }

    .sidebar #sidebar_btn{
        z-index: 1;
        color: #aa6023;
        position: fixed;
        cursor: pointer;
        left: 25px;
        font-size: 15px;
        margin-top: -50px;
        transition: 0.5s;
    }
    
}

/*POPUP*/
.bgoverlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.popup{
    background-color: white;
    width: 50%;
    min-width: 430px;
    height: 700px;
    position: absolute;
    margin: auto;
    z-index: 3;
    left: 32%;
    top: 12%;
    display: none;
}

.popup-scrollable{
    background-color: white;
    height: 650px;
    overflow-y:auto;
    overflow-x: hidden;
    margin: auto;
}

.popup-scrollable::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.popup-scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #212529;
}

.bi-x{
    right: 10px;
    top: 5px;
    font-size: 30px;
    position: sticky;
    top: 0;
    float: right;
    cursor: pointer;
}

.popup-content{
    margin-top: 25px;
}
.popup .product-left{
    display: table;
    margin-bottom: 20px;
}

.popup .big-img img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-sizing: border-box;
    margin: 10px;
}

.product-colorsize{
    margin-right: 20px;
    font-size: 1.5em;
}

.product-colorsize label{
    border: 2px solid;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    transition: all .3s;
    font-size: 1em;
}

.color1{
    color: #aa6023;
    margin-left: 10px;
}

.color2{
    color: #212529;
}

.color3{
    color: #aa602380;
}

.color4{
    color: #8494a5;
}

.colorselected{
    text-shadow: 5px 2px 3px rgb(61, 61, 61);
}

.popup .popup-content {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}
  
.popup .popup-content .popup-section {
    flex: 1;
    padding: 25px; 
}


.product-right .shoe-name{
    font-size: 1.50em;
    font-weight: bold;
    margin: 0;
}

.product-right .shoe-maker{
    font-size: 12px;
    color: gray;
    margin: 0;
}

.product-right .shoe-price{
    color: #aa6023;
    font-size: 1.45em;
    margin: 0;
}

.stars{
    font-size: 1.5em;
    color: #e9da0f;
}

p{
    text-align: justify;
}

.addtocart{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #212529;    
}

.addtocart a{
    text-align: center;
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 15px;
    margin: auto;
}

  button#custlogout  {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}